body {
  color: black;
  background-color: yellow;
  padding: 2em;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  color: blue;
  margin: inherit;
  text-align: center;
}

.square {
  background-color: grey;
  position: relative;
  width: 30%;
  padding-bottom: 40%;
  float: left;
  overflow: hidden;
}

.content {
  position: absolute;
  height: 80%;
  width: 90%;
  padding: 5% 5%;
  clear: both;
  text-align: center;
}

p {
  padding: 2em;
}
